.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: white;
    max-height: 70vh; 
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    max-width: 60%;
    word-wrap: break-word;
    display: inline-block;
}

.my-message {
    background-color: #d1e7dd;
    align-self: flex-end;
    text-align: right; 
    float: right;
    clear: both;
}

.other-message {
    background-color: #f8d7da;
    align-self: flex-start;
    text-align: left; 
    float: left;
    clear: both;
}

.new-message-container {
    display: flex;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: auto;
}

.new-message-container input {
    padding: 5px 10px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px; 
}

.new-message-container button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
}

.new-message-container button:hover {
    background-color: #0056b3;
}
